@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  position: relative;
  scroll-behavior: smooth;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.slider-1{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../public/slider-1.jpg')  no-repeat center rgba(0,0,0,0.5);
    background-size: cover;
    height: 600px !important;
    display: flex !important;
    flex-direction: column;
    align-items: start !important;
    justify-content: center !important;
    text-align: left;
    padding: 30px 50px;
}
.slider-2{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../public/slider-2.jpg')  no-repeat center rgba(0,0,0,0.5);
    background-size: cover;
    height: 600px !important;
    display: flex !important;
    flex-direction: column;
    align-items: start !important;
    justify-content: center !important;
    text-align: left;
    padding: 30px 50px;
}
.slider-3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../public/slider-3.jpg') no-repeat center ;
    background-size: cover;
    height: 600px !important;
    display: flex !important;
    flex-direction: column;
    align-items: start !important;
    justify-content: center !important;
    text-align: left;
    padding: 30px 50px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
.socials{
   position: absolute;
   transition: ease-in 0.5s;
   /* bottom: 0; */
}